<h1>Seja bem-vindo ao FinanSESI</h1>
<h3>Apredendo programação e finanças!</h3>

<div>

<div class="lista_cards">
    <a href="/juros_simples">
        <h2 class="titulo">Juros Simples</h2>
        <img src="./img/juros_simples.png" alt="">
    </a>

    <a href="/juros_composto">
        <h2 class="titulo">Juros Composto</h2>
        <img src="./img/juros_composto.png" alt="">
    </a>

</div>
