<h3> Projeto desenvolvido por:</h3>
<p>Gabriella Richardes Vicente</p>
<hr>
<p>Esse projeto foi feito com o intuito de criar um sistema para aprendermos programação e finanças</p>
<hr>
<p>Desenvolvido em sala de aula em parceria SESI/SENAI</p>